# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.jpg
*.xml
*.iml
*.doc

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# I've changed the comment.